<br/><br/>
<div class="homePageCarouselSection">
  <div class="container">
      <h4 class="pageTitle">About our Goals through #GiveAwayApp</h4><br/>
    <ngb-carousel>
      <ng-template ngbSlide>
        <img [src]="'assets/img/helpChildren.jpg'" alt="HelpTheChildren">
        <div class="carousel-caption">
          <p>To help the children by giving them privileges we had, but they didn't...</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="'assets/img/helpPeopleGrow.jpg'" alt="HelpPeopleGrow">
        <div class="carousel-caption">
          <p>To help people grow in their lives by empowering them with tools they need to get started...</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="'assets/img/beTheChange.png'" alt="BeTheChangeYouWantToSee">
        <div class="carousel-caption">
          <p>To help to Bring A Positive Change. To be a part of this Movement to bring change...</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>