<!-- MENU Item-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/home"><img src="../assets/img/crescentLogo.png" width="15%" /> {{ appTitle }}</a>
    | <a class="nav-link" routerLink="/inbox" *ngIf=" sessionService.isUserSessionAlive() "><i class="fa fa-fw fa-envelope"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf=" sessionService.isUserSessionAlive() ">
          <a class="nav-link"><i class="fa fa-fw fa-user"></i> Hello {{
            sessionService.getUserObjectFromSession()["userFirstName"] }}!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fa fa-fw fa-home"></i>Home</a>
        </li>
        <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Log In</a>
          </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/signUp" routerLinkActive="active" *ngIf=" !sessionService.isUserSessionAlive() "><i class="fa fa-fw fa-sign-in"></i>Sign Up</a>
        </li>
        <li class="nav-item" *ngIf=" sessionService.isUserAdmin() ">
          <a class="nav-link" routerLink="/event" routerLinkActive="active"><i class="fa fa-fw fa-star"></i>Event</a>
        </li>
        <li class="nav-item" *ngIf=" !sessionService.isUserSessionAlive() ">
          <a class="nav-link" routerLink="/login"><i class="fa fa-fw fa-user"></i> Login</a>
        </li>
        <li class="nav-item" *ngIf=" sessionService.isUserSessionAlive() ">
          <a class="nav-link" routerLink="/dashboard/giveaway"><i class="fa fa-desktop" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="nav-item" *ngIf=" sessionService.isUserAdmin() ">
            <a class="nav-link" routerLink="/report"><i class="fa fa-desktop" aria-hidden="true"></i> Report</a>
          </li>
        <li class="nav-item" *ngIf=" sessionService.isUserSessionAlive() ">
          <a class="nav-link" (click)="sessionService.logoutUser();" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </li>  
      </ul>
      
    </div>
  </div>
</nav>
<app-headermast></app-headermast>
<ng-http-loader></ng-http-loader>
<router-outlet></router-outlet>
<br />
<!--<div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h4>Crescent</h4>
        <nav class="navbar">  
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/signIn" routerLinkActive="active">SignIn</a></li>
                <li class="nav-item"><a class="nav-link" href="#section3">Link-3</a></li>
                <li class="nav-item"><a class="nav-link" href="#section3">Link-4</a></li>
            </ul>  
        </nav>         
      </div>
  
      <div class="col-sm-9">
        <h4><small>Crescent</small></h4>
        <hr>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>-->

<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; {{ appTitle }} | #GiveAwayApp | Team Sunshiners | 2019</p>
  </div>
</footer>