<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"> 
        <div class="card">  
            <div class="container">
        <div class="card-body" >
             <form action="/">
                <div class="form-group">
                    <h6 class="display-5">STEP 1 : Upload Event Image</h6>
                    <hr/>
                    <div *ngIf="currentFileUpload" class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped"
                          role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                          aria-valuemin="0" aria-valuemax="100"
                          [ngStyle]="{width:progress.percentage+'%'}">
                          {{progress.percentage}}%</div>
                      </div>
                    
                    <input type="file" id="pic_url_1" (change)="selectFile($event)"/>
                    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
                    
                  </div>
                  <h6 class="display-5">STEP 2 : Add Event Details</h6>
                  <hr/>
                </form>
                  <form class="md-form" [formGroup]="eventForm"  (ngSubmit)="createEvent()">
                  <div class="form-group" >
                    <label for="eveName">Event Name:</label>
                    <input  minlength="15"  type="text" class="form-control" formControlName="eveName" [(ngModel)]="eventbean.eveName" name="eveName" id="eveName" [ngClass]="{ 'is-invalid': submitted && f.eveName.errors }" />
                    <div *ngIf="submitted && f.eveName.errors" class="invalid-feedback">
                        <div *ngIf="f.eveName.errors.required">Event Name is required.</div>
                        <div *ngIf="f.eveName.errors.minLength">Event Name should more than 10 characters.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="eveDescription">Description:</label>
                    <textarea [(ngModel)]="eventbean.eveDescription" class="form-control" id="eveDescription" rows="3" name="eveDescription" formControlName="eveDescription" [ngClass]="{ 'is-invalid': submitted && f.eveDescription.errors }"></textarea>
                      <div *ngIf="submitted && f.eveDescription.errors" class="invalid-feedback">
                          <div *ngIf="f.eveDescription.errors.required">Event Description is required.</div>
                          <div *ngIf="f.eveDescription.errors.minLength">Event Description should be more than 100 characters.</div>
                      </div>
                </div>
                  <div class="form-group">
                        <label for="startDate">Event Start Date:</label>
                        <input [(ngModel)]="eventbean.startDate" type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"/>
                          <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                              <div *ngIf="f.startDate.errors.required">Event start date is required</div>                            
                          </div>
                  </div>
                  <div class="form-group">
                      <label for="endDate">Event End Date:</label>
                      <input [(ngModel)]="eventbean.endDate" type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"/>
                        <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                            <div *ngIf="f.endDate.errors.required">Event end date is required.</div>
                            <div *ngIf="f.endDate.errors.dateLessThan">End date should be after start date.</div>
                        </div>
                  </div>
                  <div class="form-group">
                      <label for="address">Address:</label>
                      <textarea [(ngModel)]="eventbean.address" class="form-control" id="address" rows="3" name="address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Event address is required.</div>
                        </div>
                  </div>
                  <div class="form-group">
                      <label for="city">City:</label>
                      <input [(ngModel)]="eventbean.city" type="text" class="form-control" id="city" name="city" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>
                      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                          <div *ngIf="f.city.errors.required">Event city is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="contactno">Mobile No.:</label>
                      <input [(ngModel)]="eventbean.contactno" type="number" class="form-control" id="contactno" [ngModelOptions]="{standalone: true}"/>
                  </div>
                  <div class="form-group">
                      <label for="contactName">Contact Person:</label>
                      <input [(ngModel)]="eventbean.contactName" type="text" class="form-control" id="contactName" [ngModelOptions]="{standalone: true}"/>
                  </div>
                  <button type="submit" class="btn btn-primary" >Create Event</button>
            </form>
        </div>
      </div>
    </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
  </script>