
<app-home-slider></app-home-slider>

<section *ngFor="let event of eventbean; let i = index">
    <div class="container">
      <div class="row align-items-center">
        <div class="{{getClassForIteration(i)}}">
          <div class="p-5"> 
            <img class="img-fluid rounded-circle" src="data:image/jpeg;base64,{{ event.pic_url_1 }}" alt="">
          </div>
        </div>
        <div class="{{getClassForIteration2(i)}}">
          <div class="p-5">
            <h2 class="display-4">{{ event.eveName }}</h2>
            <p>{{ event.eveDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  
